In [1]:
!pip install statsmodels
!pip install scikit-learn
!pip install ISLP

Requirement already satisfied: statsmodels in f:\anaconda\lib\site-packages (0.14.2)
Requirement already satisfied: numpy>=1.22.3 in f:\anaconda\lib\site-packages (from statsmodels) (1.26.4)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in f:\anaconda\lib\site-packages (from statsmodels) (1.11.4)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in f:\anaconda\lib\site-packages (from statsmodels) (2.2.3)
Requirement already satisfied: patsy>=0.5.6 in f:\anaconda\lib\site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: packaging>=21.3 in f:\anaconda\lib\site-packages (from statsmodels) (24.1)
Requirement already satisfied: python-dateutil>=2.8.2 in f:\anaconda\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in f:\anaconda\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in f:\anaconda\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2023.3)
Requirement already satisfied: six in f:\anaconda\lib\site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)
Requirement already satisfied: scikit-learn in f:\anaconda\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in f:\anaconda\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in f:\anaconda\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.2.0 in f:\anaconda\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in f:\anaconda\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: ISLP in f:\anaconda\lib\site-packages (0.4.0)
Requirement already satisfied: numpy>=1.7.1 in f:\anaconda\lib\site-packages (from ISLP) (1.26.4)
Requirement already satisfied: scipy>=0.9 in f:\anaconda\lib\site-packages (from ISLP) (1.11.4)
Requirement already satisfied: pandas>=0.20 in f:\anaconda\lib\site-packages (from ISLP) (2.2.3)
Requirement already satisfied: lxml in f:\anaconda\lib\site-packages (from ISLP) (5.2.1)
Requirement already satisfied: scikit-learn>=1.2 in f:\anaconda\lib\site-packages (from ISLP) (1.5.1)
Requirement already satisfied: joblib in f:\anaconda\lib\site-packages (from ISLP) (1.4.2)
Requirement already satisfied: statsmodels>=0.13 in f:\anaconda\lib\site-packages (from ISLP) (0.14.2)
Requirement already satisfied: lifelines in f:\anaconda\lib\site-packages (from ISLP) (0.30.0)
Requirement already satisfied: pygam in f:\anaconda\lib\site-packages (from ISLP) (0.9.1)
Requirement already satisfied: torch in f:\anaconda\lib\site-packages (from ISLP) (2.6.0)
Requirement already satisfied: pytorch-lightning in f:\anaconda\lib\site-packages (from ISLP) (2.5.1)
Requirement already satisfied: torchmetrics in f:\anaconda\lib\site-packages (from ISLP) (1.7.0)
Requirement already satisfied: python-dateutil>=2.8.2 in f:\anaconda\lib\site-packages (from pandas>=0.20->ISLP) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in f:\anaconda\lib\site-packages (from pandas>=0.20->ISLP) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in f:\anaconda\lib\site-packages (from pandas>=0.20->ISLP) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in f:\anaconda\lib\site-packages (from scikit-learn>=1.2->ISLP) (3.5.0)
Requirement already satisfied: patsy>=0.5.6 in f:\anaconda\lib\site-packages (from statsmodels>=0.13->ISLP) (0.5.6)
Requirement already satisfied: packaging>=21.3 in f:\anaconda\lib\site-packages (from statsmodels>=0.13->ISLP) (24.1)
Requirement already satisfied: matplotlib>=3.0 in f:\anaconda\lib\site-packages (from lifelines->ISLP) (3.9.2)
Requirement already satisfied: autograd>=1.5 in f:\anaconda\lib\site-packages (from lifelines->ISLP) (1.7.0)
Requirement already satisfied: autograd-gamma>=0.3 in f:\anaconda\lib\site-packages (from lifelines->ISLP) (0.5.0)
Requirement already satisfied: formulaic>=0.2.2 in f:\anaconda\lib\site-packages (from lifelines->ISLP) (1.1.1)
Requirement already satisfied: progressbar2<5.0.0,>=4.2.0 in f:\anaconda\lib\site-packages (from pygam->ISLP) (4.5.0)
Requirement already satisfied: tqdm>=4.57.0 in f:\anaconda\lib\site-packages (from pytorch-lightning->ISLP) (4.66.5)
Requirement already satisfied: PyYAML>=5.4 in f:\anaconda\lib\site-packages (from pytorch-lightning->ISLP) (6.0.1)
Requirement already satisfied: fsspec>=2022.5.0 in f:\anaconda\lib\site-packages (from fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (2024.6.1)
Requirement already satisfied: typing-extensions>=4.4.0 in f:\anaconda\lib\site-packages (from pytorch-lightning->ISLP) (4.11.0)
Requirement already satisfied: lightning-utilities>=0.10.0 in f:\anaconda\lib\site-packages (from pytorch-lightning->ISLP) (0.14.2)
Requirement already satisfied: filelock in f:\anaconda\lib\site-packages (from torch->ISLP) (3.13.1)
Requirement already satisfied: networkx in f:\anaconda\lib\site-packages (from torch->ISLP) (3.3)
Requirement already satisfied: jinja2 in f:\anaconda\lib\site-packages (from torch->ISLP) (3.1.4)
Requirement already satisfied: setuptools in f:\anaconda\lib\site-packages (from torch->ISLP) (75.1.0)
Requirement already satisfied: sympy==1.13.1 in f:\anaconda\lib\site-packages (from torch->ISLP) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in f:\anaconda\lib\site-packages (from sympy==1.13.1->torch->ISLP) (1.3.0)
Requirement already satisfied: interface-meta>=1.2.0 in f:\anaconda\lib\site-packages (from formulaic>=0.2.2->lifelines->ISLP) (1.3.0)
Requirement already satisfied: wrapt>=1.0 in f:\anaconda\lib\site-packages (from formulaic>=0.2.2->lifelines->ISLP) (1.14.1)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in f:\anaconda\lib\site-packages (from fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (3.10.5)
Requirement already satisfied: contourpy>=1.0.1 in f:\anaconda\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (1.2.0)
Requirement already satisfied: cycler>=0.10 in f:\anaconda\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in f:\anaconda\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in f:\anaconda\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (1.4.4)
Requirement already satisfied: pillow>=8 in f:\anaconda\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in f:\anaconda\lib\site-packages (from matplotlib>=3.0->lifelines->ISLP) (3.1.2)
Requirement already satisfied: six in f:\anaconda\lib\site-packages (from patsy>=0.5.6->statsmodels>=0.13->ISLP) (1.16.0)
Requirement already satisfied: python-utils>=3.8.1 in f:\anaconda\lib\site-packages (from progressbar2<5.0.0,>=4.2.0->pygam->ISLP) (3.9.1)
Requirement already satisfied: colorama in f:\anaconda\lib\site-packages (from tqdm>=4.57.0->pytorch-lightning->ISLP) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in f:\anaconda\lib\site-packages (from jinja2->torch->ISLP) (2.1.3)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in f:\anaconda\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (2.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in f:\anaconda\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in f:\anaconda\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (23.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in f:\anaconda\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (1.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in f:\anaconda\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in f:\anaconda\lib\site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (1.11.0)
Requirement already satisfied: idna>=2.0 in f:\anaconda\lib\site-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>=2022.5.0->pytorch-lightning->ISLP) (3.7)

In [2]:
import ISLP
from ISLP import load_data
from statsmodels.datasets import get_rdataset

import numpy as np
import pandas as pd

In [3]:
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [4]:
import os
print(os.getcwd())

C:\Users\Juan T\Documents\GitHub\Big-Data---TP-2---Grupo-13\t104_dta

In [5]:
os.chdir("C:\\Users\\Juan T\\Documents\\GitHub\\Big-Data---TP-2---Grupo-13\\t104_dta")

In [6]:
tabla = pd.read_stata("Hogar_t104.dta")

In [7]:
tabla.columns
tabla.dtypes

CODUSU         object
nro_hogar     float64
realizada    category
ano4          float64
trimestre    category
               ...
vii2_1       category
vii2_2       category
vii2_3       category
vii2_4       category
idimph         object
Length: 88, dtype: object

In [8]:
tabla.head(5)

,CODUSU,nro_hogar,realizada,ano4,trimestre,region,mas_500,aglomerado,pondera,iv1,...,gdeccfr,pdeccfr,adeccfr,vii1_1,vii1_2,vii2_1,vii2_2,vii2_3,vii2_4,idimph
0,125051,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,355.0,Casa,...,01,,01,1.0,0.0,3.0,0.0,0.0,0.0,00000
1,125082,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,306.0,Casa,...,03,,02,2.0,0.0,98.0,0.0,0.0,0.0,10000
2,125181,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,541.0,Casa,...,09,,09,2.0,0.0,1.0,3.0,0.0,0.0,00000
3,125283,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,255.0,Casa,...,07,,07,1.0,2.0,3.0,4.0,0.0,0.0,10000
4,126192,1.0,Sí,2004.0,1er. Trimestre,Pampeana,S,Gran La Plata,218.0,Casa,...,08,,08,2.0,0.0,Otra persona que no vive en el hogar,0.0,0.0,0.0,10000

In [9]:
tabla[3200:3205]

,CODUSU,nro_hogar,realizada,ano4,trimestre,region,mas_500,aglomerado,pondera,iv1,...,gdeccfr,pdeccfr,adeccfr,vii1_1,vii1_2,vii2_1,vii2_2,vii2_3,vii2_4,idimph
3200,265873,1.0,Sí,2004.0,1er. Trimestre,NEA,N,Gran Resistencia,226.0,Casa,...,,05,06,2.0,0.0,98.0,0.0,0.0,0.0,00000
3201,266176,1.0,Sí,2004.0,1er. Trimestre,NEA,N,Gran Resistencia,155.0,Casa,...,,05,06,1.0,0.0,2.0,0.0,0.0,0.0,00000
3202,266266,1.0,Sí,2004.0,1er. Trimestre,NEA,N,Gran Resistencia,188.0,Casa,...,,03,04,2.0,4.0,98.0,0.0,0.0,0.0,00000
3203,267089,1.0,Sí,2004.0,1er. Trimestre,NEA,N,Gran Resistencia,240.0,Casa,...,,02,02,1.0,2.0,5.0,0.0,0.0,0.0,00000
3204,267359,1.0,Sí,2004.0,1er. Trimestre,NEA,N,Gran Resistencia,225.0,Casa,...,,02,02,2.0,0.0,98.0,0.0,0.0,0.0,00100

In [10]:
tabla.drop(["trimestre","ano4"], axis=1)

,CODUSU,nro_hogar,realizada,region,mas_500,aglomerado,pondera,iv1,iv1_esp,iv2,...,gdeccfr,pdeccfr,adeccfr,vii1_1,vii1_2,vii2_1,vii2_2,vii2_3,vii2_4,idimph
0,125051,1.0,Sí,Pampeana,S,Gran La Plata,355.0,Casa,,2.0,...,01,,01,1.0,0.0,3.0,0.0,0.0,0.0,00000
1,125082,1.0,Sí,Pampeana,S,Gran La Plata,306.0,Casa,,4.0,...,03,,02,2.0,0.0,98.0,0.0,0.0,0.0,10000
2,125181,1.0,Sí,Pampeana,S,Gran La Plata,541.0,Casa,,2.0,...,09,,09,2.0,0.0,1.0,3.0,0.0,0.0,00000
3,125283,1.0,Sí,Pampeana,S,Gran La Plata,255.0,Casa,,3.0,...,07,,07,1.0,2.0,3.0,4.0,0.0,0.0,10000
4,126192,1.0,Sí,Pampeana,S,Gran La Plata,218.0,Casa,,4.0,...,08,,08,2.0,0.0,Otra persona que no vive en el hogar,0.0,0.0,0.0,10000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12811,283186,1.0,Sí,Pampeana,N,Río Cuarto,272.0,Casa,,3.0,...,,04,03,1.0,0.0,98.0,0.0,0.0,0.0,00000
12812,284685,1.0,Sí,Pampeana,N,Río Cuarto,397.0,Casa,,4.0,...,,05,04,2.0,0.0,98.0,0.0,0.0,0.0,00000
12813,285584,1.0,Sí,Pampeana,N,Río Cuarto,130.0,Casa,,6.0,...,,09,09,Otra persona que no vive en el hogar,0.0,98.0,0.0,0.0,0.0,00100
12814,287302,2.0,Sí,Pampeana,N,Río Cuarto,153.0,Casa,,3.0,...,,02,02,2.0,0.0,6.0,0.0,0.0,0.0,00000
12815,288189,1.0,Sí,Pampeana,N,Río Cuarto,193.0,Casa,,4.0,...,,01,01,2.0,0.0,98.0,0.0,0.0,0.0,00000

In [11]:
df2004 = tabla[tabla["region"]=="Gran Buenos Aires"]
df2004.columns = df2004.columns.str.lower()
df2004

,codusu,nro_hogar,realizada,ano4,trimestre,region,mas_500,aglomerado,pondera,iv1,...,gdeccfr,pdeccfr,adeccfr,vii1_1,vii1_2,vii2_1,vii2_2,vii2_3,vii2_4,idimph
9666,125098,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1299.0,Departamento,...,06,,04,1.0,0.0,98.0,0.0,0.0,0.0,00000
9667,125397,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,2018.0,Departamento,...,00,,00,1.0,0.0,98.0,0.0,0.0,0.0,00000
9668,125515,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1486.0,Departamento,...,07,,05,1.0,0.0,98.0,0.0,0.0,0.0,00010
9669,125558,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1674.0,Departamento,...,08,,06,2.0,0.0,3.0,4.0,0.0,0.0,00000
9670,125599,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1471.0,Casa,...,04,,02,2.0,0.0,1.0,0.0,0.0,0.0,00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12012,287684,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1605.0,Casa,...,07,,08,3.0,0.0,2.0,4.0,0.0,0.0,00000
12013,287810,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1539.0,Casa,...,08,,09,2.0,0.0,3.0,1.0,0.0,0.0,00000
12014,287998,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1466.0,Casa,...,01,,01,1.0,0.0,2.0,0.0,0.0,0.0,00000
12015,288171,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1454.0,Casa,...,08,,09,Servicio doméstico,0.0,2.0,0.0,0.0,0.0,00000
12016,288405,1.0,Sí,2004.0,1er. Trimestre,Gran Buenos Aires,S,Partidos del GBA,1673.0,Casa,...,02,,02,2.0,0.0,98.0,0.0,0.0,0.0,00000

In [12]:
dfarg=pd.read_excel("usu_hogar_T124.xlsx")

In [13]:
df2024=dfarg[dfarg["REGION"]==1]

In [14]:
df2024.columns = df2024.columns.str.lower()

In [15]:
df2024.columns

Index(['codusu', 'ano4', 'trimestre', 'nro_hogar', 'realizada', 'region',
       'mas_500', 'aglomerado', 'pondera', 'iv1', 'iv1_esp', 'iv2', 'iv3',
       'iv3_esp', 'iv4', 'iv5', 'iv6', 'iv7', 'iv7_esp', 'iv8', 'iv9', 'iv10',
       'iv11', 'iv12_1', 'iv12_2', 'iv12_3', 'ii1', 'ii2', 'ii3', 'ii3_1',
       'ii4_1', 'ii4_2', 'ii4_3', 'ii5', 'ii5_1', 'ii6', 'ii6_1', 'ii7',
       'ii7_esp', 'ii8', 'ii8_esp', 'ii9', 'v1', 'v2', 'v21', 'v22', 'v3',
       'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v11', 'v12', 'v13', 'v14',
       'v15', 'v16', 'v17', 'v18', 'v19_a', 'v19_b', 'ix_tot', 'ix_men10',
       'ix_mayeq10', 'itf', 'decifr', 'idecifr', 'rdecifr', 'gdecifr',
       'pdecifr', 'adecifr', 'ipcf', 'deccfr', 'ideccfr', 'rdeccfr', 'gdeccfr',
       'pdeccfr', 'adeccfr', 'pondih', 'vii1_1', 'vii1_2', 'vii2_1', 'vii2_2',
       'vii2_3', 'vii2_4'],
      dtype='object')

In [16]:
df2024

,codusu,ano4,trimestre,nro_hogar,realizada,region,mas_500,aglomerado,pondera,iv1,...,gdeccfr,pdeccfr,adeccfr,pondih,vii1_1,vii1_2,vii2_1,vii2_2,vii2_3,vii2_4
5,TQRMNOSPRHLMNNCDEIIAD00854888,2024,1,1,1,1,S,32,2018,2,...,7.0,NaN,5,2564,1,0,98,0,0,0
6,TQRMNOSPTHLMNNCDEIIAD00854889,2024,1,1,1,1,S,32,5805,1,...,12.0,NaN,12,0,2,0,98,0,0,0
7,TQRMNOTXUHKNNPCDEIIAD00856793,2024,1,1,1,1,S,32,817,1,...,10.0,NaN,10,1782,2,0,98,0,0,0
8,TQRMNOSQVHJLMUCDEIIAD00798163,2024,1,1,1,1,S,32,1921,2,...,12.0,NaN,12,0,96,0,98,0,0,0
9,TQRMNORXVHJLNNCDEIIAD00798156,2024,1,1,1,1,S,32,2211,2,...,1.0,NaN,1,2655,1,0,98,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15983,TQRMNOPSSHKMROCDEIJAH00861731,2024,1,1,1,1,S,33,3772,1,...,10.0,NaN,10,5211,1,0,96,0,0,0
15984,TQRMNOPWVHJLSSCDEIJAH00794914,2024,1,1,1,1,S,33,1862,1,...,2.0,NaN,2,4520,4,2,98,0,0,0
15985,TQRMNOQQWHKMOQCDEIJAH00861732,2024,1,1,1,1,S,33,2639,1,...,12.0,NaN,12,0,2,0,98,0,0,0
15986,TQRMNOSXRHKMNMCDEIJAH00861733,2024,1,1,1,1,S,33,1497,2,...,10.0,NaN,10,2000,1,0,98,0,0,0
15987,TQRMNORRQHMORPCDEIJAH00802469,2024,1,1,1,1,S,33,3120,1,...,5.0,NaN,6,6154,2,1,3,0,0,0

In [17]:
dffinal=pd.concat([df2004,df2024])

In [18]:
dffinal.tail()

,codusu,nro_hogar,realizada,ano4,trimestre,region,mas_500,aglomerado,pondera,iv1,...,pdeccfr,adeccfr,vii1_1,vii1_2,vii2_1,vii2_2,vii2_3,vii2_4,idimph,pondih
15983,TQRMNOPSSHKMROCDEIJAH00861731,1.0,1,2024.0,1,1,S,33,3772.0,1,...,NaN,10,1,0,96,0,0,0,NaN,5211.0
15984,TQRMNOPWVHJLSSCDEIJAH00794914,1.0,1,2024.0,1,1,S,33,1862.0,1,...,NaN,2,4,2,98,0,0,0,NaN,4520.0
15985,TQRMNOQQWHKMOQCDEIJAH00861732,1.0,1,2024.0,1,1,S,33,2639.0,1,...,NaN,12,2,0,98,0,0,0,NaN,0.0
15986,TQRMNOSXRHKMNMCDEIJAH00861733,1.0,1,2024.0,1,1,S,33,1497.0,2,...,NaN,10,1,0,98,0,0,0,NaN,2000.0
15987,TQRMNORRQHMORPCDEIJAH00802469,1.0,1,2024.0,1,1,S,33,3120.0,1,...,NaN,6,2,1,3,0,0,0,NaN,6154.0

In [19]:
dffinal.columns

Index(['codusu', 'nro_hogar', 'realizada', 'ano4', 'trimestre', 'region',
       'mas_500', 'aglomerado', 'pondera', 'iv1', 'iv1_esp', 'iv2', 'iv3',
       'iv3_esp', 'iv4', 'iv5', 'iv6', 'iv7', 'iv7_esp', 'iv8', 'iv9', 'iv10',
       'iv11', 'iv12_1', 'iv12_2', 'iv12_3', 'ii1', 'ii2', 'ii3', 'ii3_1',
       'ii4_1', 'ii4_2', 'ii4_3', 'ii5', 'ii5_1', 'ii6', 'ii6_1', 'ii7',
       'ii7_esp', 'ii8', 'ii8_esp', 'ii9', 'v1', 'v2', 'v21', 'v22', 'v3',
       'v4', 'v5', 'v6', 'v7', 'v8', 'v9', 'v10', 'v11', 'v12', 'v13', 'v14',
       'v15', 'v16', 'v17', 'v18', 'v19_a', 'v19_b', 'ix_tot', 'ix_men10',
       'ix_mayeq10', 'itf', 'decifr', 'idecifr', 'rdecifr', 'gdecifr',
       'pdecifr', 'adecifr', 'ipcf', 'deccfr', 'ideccfr', 'rdeccfr', 'gdeccfr',
       'pdeccfr', 'adeccfr', 'vii1_1', 'vii1_2', 'vii2_1', 'vii2_2', 'vii2_3',
       'vii2_4', 'idimph', 'pondih'],
      dtype='object')

In [20]:
df1 = dffinal[["ano4","mas_500","iv1","iv2","iv8","iv12_3","ii7","v1","v2","v3","v5","v12","v17","ix_tot","ipcf",]]

In [21]:
df1[400:405]

,ano4,mas_500,iv1,iv2,iv8,iv12_3,ii7,v1,v2,v3,v5,v12,v17,ix_tot,ipcf
10066,2004.0,S,Departamento,2.0,Sí,No,Inquilino/arrendatario de la vivienda,Sí,No,No,No,No,No,1.0,2000.0
10067,2004.0,S,Departamento,1.0,Sí,No,Inquilino/arrendatario de la vivienda,Sí,No,No,No,No,Sí,1.0,2102.0
10068,2004.0,S,Departamento,2.0,Sí,No,Propietario de la vivienda solamente,No,Sí,No,No,No,No,1.0,1000.0
10069,2004.0,S,Departamento,4.0,Sí,No,Inquilino/arrendatario de la vivienda,Sí,Sí,No,No,No,No,3.0,510.0
10070,2004.0,S,Casa,1.0,Sí,No,Propietario de la vivienda y el terreno,No,Sí,No,No,No,No,2.0,120.0

In [59]:
#muchas de las filas de datos están en palabras en el año 2004, mientras que en 2024 están en formato de número, por lo que lo mejor es que ambas
#esten con el mismo formato
df1.loc[:, "v2"] = df1["v2"].replace({1: "Sí", 2: "No"})
df1.loc[:, "iv8"] = df1["iv8"].replace({1: "Sí", 2: "No"})
df1.loc[:, "iv12_3"] = df1["iv12_3"].replace({1: "Sí", 2: "No"})
df1.loc[:, "v1"] = df1["v1"].replace({1: "Sí", 2: "No"})
df1.loc[:, "v3"] = df1["v3"].replace({1: "Sí", 2: "No"})
df1.loc[:, "v5"] = df1["v5"].replace({1: "Sí", 2: "No"})
df1.loc[:, "v12"] = df1["v12"].replace({1: "Sí", 2: "No"})
df1.loc[:, "v17"] = df1["v17"].replace({1: "Sí", 2: "No"})
df1

,ano4,mas_500,iv1,iv2,iv8,iv12_3,ii7,v1,v2,v3,v5,v12,v17,ix_tot,ipcf
9666,2004.0,S,Departamento,3.0,Sí,No,Otra situación,No,Sí,Sí,Sí,Sí,Sí,1.0,368.0
9667,2004.0,S,Departamento,2.0,No,No,Otra situación,No,No,No,No,No,No,1.0,0.0
9668,2004.0,S,Departamento,2.0,Sí,No,Propietario de la vivienda y el terreno,No,Sí,Sí,Sí,Sí,Sí,1.0,440.0
9669,2004.0,S,Departamento,4.0,No,No,Propietario de la vivienda y el terreno,No,No,No,No,No,No,4.0,532.5
9670,2004.0,S,Casa,4.0,Sí,No,Propietario de la vivienda y el terreno,No,Sí,Sí,Sí,Sí,Sí,5.0,208.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15983,2024.0,S,1,5,No,No,1,No,No,No,No,No,No,1.0,1500000.0
15984,2024.0,S,1,3,No,No,1,No,No,No,No,No,No,4.0,84750.0
15985,2024.0,S,1,3,Sí,No,1,No,Sí,Sí,Sí,Sí,Sí,3.0,0.0
15986,2024.0,S,2,4,No,No,6,No,No,No,No,No,No,1.0,740000.0
15987,2024.0,S,1,3,Sí,No,1,No,Sí,Sí,Sí,Sí,Sí,3.0,195000.0